

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


#area-form{
	background-color: #F5F5F5;
    box-shadow: 0 0 0 1px #DDDDDD;
    border-radius: 4px;
    padding: 0 0 16px;
}

#start-btn,
#update-btn {
    display: block;
    float: none;
    margin: auto;
    clear:both;
}


#map-canvas {
	height:600px; 
	margin:40px auto;
}




#map-canvas img {
	max-width: none !important;
}


.result {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    padding: 39px 19px 14px;
    position: relative;
}

.result>p.index {
    background-color: #F5F5F5;
    border: 1px solid #DDDDDD;
    border-radius: 4px 0 4px 0;
    color: #9DA0A4;
    content: "Example";
    font-size: 12px;
    font-weight: bold;
    left: -1px;
    padding: 3px 7px;
    position: absolute;
    top: -1px;
}

.div3Dview {
  height:600px;
}

#search-result {    
    display: block;    
    margin-left: 100px;
    margin-top: 16px;
    max-height: 100px;
    overflow: auto;
    padding: 8px;
}


#search-result ul {
    padding: 8px;
    list-style: none outside none;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.25);
}